{% extends 'layout.html' %}


{% block style %}

{% endblock style %}
    

{% block title %}Checkout | Shoppy{% endblock title %}
    

{% block content %}
    <div class="container">
        {% if not billing_profile %}
            <h4>Login</h4>
                
            <form action="{% url 'accounts:login' %}" method="POST">
                <div class="row">
                    <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{login_form.email}}
                        {{login_form.email.label_tag}}
                    </div>
                    <br>
                    <div class="input-field col s12">
                        {{login_form.password}}
                        {{login_form.password.label_tag}}
                    </div>
                    <!-- {{form.as_p}} -->
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    <a href="{% url 'accounts:signup' %}" class="btn white black-text col m4 s4">Signup?</a>
                    <div class="col s1 m1"></div>
                    <input type="submit" value="Login" class="btn white black-text right col m4 s4">
                </div>
            </form>
            <hr class="hr-text" data-content="OR" style="margin:50px 0;">  
            <h4>Guest Login</h4>
                
            <form action="{% url 'accounts:guest_register' %}" method="POST">
                <div class="row">
                        <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{guest_form.email}}
                        {{guest_form.email.label_tag}}
                    </div>
                    <!-- {{form.as_p}} -->
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    <a href="{% url 'accounts:signup' %}" class="btn white black-text col m4 s4">Signup?</a>
                    <div class="col s1 m1"></div>
                    <input type="submit" value="Continue" class="btn white black-text right col m4 s4">
                </div>
            </form>
        
        {% else %}
            
            {% if not object.shipping_address %}
                <div class="row">
                    
                    <div class="col m8 s12 offset-m2">
                        <h4>Shipping Address</h4>
                        {% url 'checkout_address_reuse' as checkout_address_reuse %}
                        {% url 'checkout_address_view' as checkout_address_view %}
                        {% include 'addresses/prev_address_select.html' with address_qs=address_qs action_url=checkout_address_reuse next_url=request.build_absolute_uri address_type='shipping' %}
                        <hr class="hr-text" data-content="OR">
                        {% include 'addresses/form.html' with form=shipping_address_form address_type='shipping' next_url=request.build_absolute_uri action_url=checkout_address_view btn_value='Next' %}
                    </div>
                    
                </div>      
            {% elif not object.billing_address %}  
                <div class="row">
                    <div class="col m8 s12 offset-m2">
                        <h4>Billing Address</h4>
                        {% url 'checkout_address_reuse' as checkout_address_reuse %}
                        {% include 'addresses/prev_address_select.html' with address_qs=address_qs action_url=checkout_address_reuse next_url=request.build_absolute_uri address_type='billing' %}
                        <hr class="hr-text" data-content="OR">                        
                        {% url 'checkout_address_view' as checkout_address_view %}
                        {% include 'addresses/form.html' with form=billing_address_form next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_view  btn_value='Confirm' %}
                    </div>
                </div>     
            {% else %}
                
                {% if not has_cards %}
                    <div class="row">
                        <div class="col m8 offset-m2 s11 offset-s1">
                            <div class="stripe-form" data-publish-key="{{publish_key}}" data-next-url="{{request.build_absolute_uri}}" data-btn-title="Add Payment Method"></div>
                        </div>
                        
                    </div>
                {% else %}
                    
                    <h4>Finalize Checkout</h4>
                    <p>Cart Items:{% for p in object.cart.products.all %}{{p}}{% if not forloop.last %},{% endif %}{% endfor %}</p>
                    <p>Shipping Address: {{object.shipping_address.get_address}}</p>
                    <p>Billing Address: {{object.billing_address.get_address}}</p>
                    <p>Payment Method: {{billing_profile.default_cards}} (<a href="{% url 'billing:payment_method' %}?next={{request.build_absolute_uri}}">Change</a>)</p>
                    <p>Cart Total: {{object.cart.total}}</p>
                    <p>Shipping Total: {{object.shipping_total}}</p>
                    <p>Order Total: {{object.total}}</p>
                    <form action="{% url 'carts:checkout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Checkout" class="btn black">
                    </form>
                {%endif%}
                
            {% endif %}

        {% endif %}        
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('select').material_select();
        });
    </script>
{% endblock script %}
    