{% extends 'layout.html' %}


{% block title %}Contact | Shoppy{% endblock title %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <form class="col s12 contact-form" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{form.subject}}
                        <label for="{{form.subject.id_for_label}}">Subject:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{form.message}}
                        <label for="{{form.message.id_for_label}}">Your message:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{form.sender}}
                        <label for="{{form.sender.id_for_label}}">Your email address:</label>
                    </div>
                </div>
                <div class="row">
                    {{form.cc_myself}}
                    <label for="{{form.cc_myself.id_for_label}}">CC Yourself?</label>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}