{% extends 'layout.html' %}


{% block title %}{{object.title}} | Shoppy{% endblock title %}
    

{% block content %}
    <div class="container">
        <div class="card-panel">
            <h3>{{object.title}}</h3>
            <div>
                <img src="{{object.image.url}}" alt="" class="materialboxed responsive-img">
            </div>
            <p>{{object.description}}</p>
            <p>Price: <b>{{object.price}}</b></p>
            {{object.timestamp}}
            <div class="row">
                <div class="col s12">
                    {% include 'products/snippets/add-to-cart.html' with product=object cart=cart %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}


{% block script %}
    <script>
        
    </script>
{% endblock script %}
    
    